.footer {

    color: #292424;
    background-color: rgb(87, 116, 245);
    line-height: 40px;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    width: 100%;
    height: 55px;

    color: #010102;
    background-color: rgb(92, 89, 236);
    line-height: 35px;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    width: 100%;
    height: 60px;

    text-align: center;
    display: inline-block;
     position: fixed;
}

