.footer {
    color: #6361f0;
    line-height: 35px;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    width: 100%;
    height: 150px;
    text-align: center;
    display: inline-block;
     position: fixed;
}

